:root {
  --font-family-main: arial, sans-serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 24px;
  --font-l: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --navbar-height: 40px;
  --sidebar-width: 300px;
  --sidebar-width-closed: 60px;

}