.app.dark {
  --bg-color: #0e182c;
  --primary-shadow: 0 0 6px #219ebc;
  --primary-light-color: #243c6e;
  --primary-color: #14213d;
  --secondary-light-color: #fdaa21;
  --secondary-color: #fca311;
}