.app.light {
  --bg-color: #edf6f9;
  --primary-shadow: 0 0 6px #14213d;
  --primary-light-color: #28bbde;
  --primary-color: #219ebc;
  --secondary-light-color: #faa648;
  --secondary-color: #f8a03c;

}