.Button {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background: inherit;
}

.outlined {
  border: 1px solid black;
  background: inherit;

  &:hover {
    box-shadow: 0 0 2px black;
  }

  &.primary {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);

    &:hover {
      box-shadow: 0 0 2px var(--primary-color);
    }
  }

  &.secondary {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);

    &:hover {
      box-shadow: 0 0 2px var(--secondary-color);
    }
  }
}


.contained {
  &.primary {
    background: var(--primary-color);

    &:hover {
      background: var(--primary-light-color);
    }
  }

  &.secondary {
    background: var(--secondary-color);

    &:hover {
      background: var(--secondary-light-color);
    }
  }
}
